<div class="mdl-grid site-max-width">
   <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp welcome-card portfolio-card">
      <div class="mdl-card__title">
      </div>
      <div class="mdl-card__supporting-text">
         {{ 'WELCOME' | translate }} {{ 'CITY_NAME' | translate }} !!! <br/>
         <br/> *** Area: 16,596 square kilometers (6,408 square miles)
         <br/> *** Population: 6,663,100
         <br/> *** Time Zone: GMT+8
         <br/> *** Voltage: 220 V, 50Hz alternating current
         <br/> *** Administrative Division: 8 districts (Xihu, Gongshu, Shangcheng, Xiacheng, Jianggan, Binjiang, Xiaoshan and Yuhang);
         <br/>     3 cities (Jiande, Fuyang and Lin'an); 2 counties (Tonglu and Chun'an)
      </div>
      <div class="mdl-card__actions mdl-card--border">
         <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href=" https://templateflip.com/templates/material-portfolio/" target="_blank">
         More Info >>>
         </a>
      </div>
   </div>
</div>
