<section class="section--center mdl-grid site-max-width">
   <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
         <img class="article-image" src="./assets/img/market.jpg" border="0" alt="">
      </div>
      <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">Fresh Produce Forum China</h2>
      </div>
      <div class="mdl-card__supporting-text">
         Fresh Produce Forum China is a 3 day event being held
         <br/> from 23rd May to 25th May 2017 at the JW Marriott Hotel Hangzhou in Hangzhou, China. This event showcases products like fruit and vegetable,transport and Logististic,Packaging & Labeling,sourcing, distribution and marketing etc. in the Food & Beverage, Logistics & Transportation industries
      </div>
   </div>
   <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
         <img class="article-image" src="./assets/img/hotel.jpg" border="0" alt="">
      </div>
      <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">Conference SCBA International Symposium</h2>
      </div>
      <div class="mdl-card__supporting-text">
         The SCBA International Symposium, organized by the Zhejiang University will take place from 29th June to 3rd July 2017 at the The First World Hotel, Hangzhou in Hangzhou, China. The conference will cover areas like biotech and biopharm, genomic biology, immunity, infection and inflammation.
      </div>
   </div>
   <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
         <img class="article-image" src="./assets/img/events.jpg" border="0" alt="">
      </div>
      <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">International Forging Congress</h2>
      </div>
      <div class="mdl-card__supporting-text">
         The International Forging Congress, organized by the Confederation of Chinese Metalforming Industry will take place from 17th September to 22nd September 2017 at the Hangzhou Olympic and International Expo Center in Hangzhou, China. The conference will cover areas like The IFC is an important exchange platform, which not only promote the progress of technology,Please co-build the platform belonging to the forging colleagues from the world.
      </div>
   </div>
</section>
<section class="section--center mdl-grid site-max-width homepage-portfolio">
   <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio.html">View More</a>
</section>
